# Ignore : Dependencies
node_modules/

# Ignore : Debug
*.log
*.log*
*.trace

# Ignore : Outputs
dist/

# Ignore : IDE
.idea/
.vscode/
.fleet/

# Ignore : Testing
coverage/
jest.config.js

# Ignore : CI/CD & Deployment
.DS_Store
*.pem
*.key
*.crt
*.pub
*.ndjson
*.csv
*.sqlite
*.db
*.tinyb
.venv
*.lockb

# Ignore : OS & Misc
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.swp
*.swo
*.bak
*.tmp
